/* ==========================================================================
   Variables
   ========================================================================== */

// colours
$white: #ffffff;
$agenda: #3e454c;
$agenda-light: #AFC7E0;
$agenda-vivid: #677480;
$agenda-font: #8a98a7;
$black: #333333;
$blackrgb: rgba(0, 0, 0, 0.3);
$blackrgb-dark: rgba(0, 0, 0, 0.6);
$blue: #00bff3;
$gray: #e6e4e4;
$gray-dark: #c8c7c7;
$subnav: #f8f6f6;
$transparent: transparent;
$google-maps-shadow: rgba(0, 0, 0, 0.3);
$google-maps: rgba(248, 248, 248, 0.2);
$red: #ff7f66;
$error:#c0392b;
$succses:#27ae60;

// font weights
$light: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;

// font size
$font-big:32px;


// text-overflow places
$line-height: 1.4;
$lines-to-show: 2;