/*
 * Dit is de custom style sheet van jouw website
 *
 */

body {
	

}

.desc {

	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;
		
}

header {
	background-color: #7777cc;
}

footer {
	background-color: #00A287;
}
