/* Locaties
   ========================================================================== */

&#locations {
	margin: 40px 0;

	aside {
		width: 100%;
		display: block;
		overflow: hidden;

		.btn {
			background: $transparent;
			color: $black !important;
			width: auto;
			float: left;
			margin: 0 10px;
			cursor: pointer;
			@include transition(background .2s, color .2s);

			&.active,
			&:hover {
				background: $blue;
				color: $white !important;
				@include transition(background .2s, color .2s);
			}

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.thumbs	{
		width: 100%;
		display: block;
		overflow: hidden;
		margin-top: 40px;

		.col-25 {
			height: 255px;
			margin-bottom: 30px;

			&:nth-of-type(4n) {
				margin-right: 0;
			}

			&:nth-of-type(5n) {
				margin-left: 0;
			}

			@media screen and (max-width:1024px){
				height: 205px;
			}
	        @media screen and (max-width:925px){
	           height: 403px;

	           &:nth-of-type(0n) {
	           	margin-left: 0;
	           }
	           &:nth-of-type(2n) {
	           	margin-right: 0;
	           }

	           &:nth-of-type(3n) {
	           	margin-left: 0;
	           }
	           &:nth-of-type(4n) {
	           	margin-right: 0;
	           }

	           &:nth-of-type(5n) {
	           	margin-left: 0;
	           }
	           &:nth-of-type(6n) {
	           	margin-right: 0;
	           	margin-left: 1%;
	           }

	           &:nth-of-type(7n) {
	           	margin-left: 0;
	           	margin-right:1%;
	           }
	           &:nth-of-type(8n) {
	           	margin-right: 0;
	           	margin-left: 1%;
	           }
	        }
	        @media screen and (max-width:835px){
	        	height: 340px;
	        }
			@media screen and (max-width:660px){
				height: 270px;
			}
			@media screen and (max-width:480px){
				height: 360px;
			}
			@media screen and (max-width:380px){
				height: 330px;
			}

			.overlay {

				p {
					margin:0;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}

	.pagination {
		list-style: none;
		display: block;
		margin: 0 auto;
		text-align: center;

		li {
			display: inline;

			a {
				font: $font-size $font-family;
				font-weight: $normal;
				color: $black;
				text-decoration: none;
				margin: 0 5px;
				display: inline-block;

				&.active {
					font-weight: $bold;
				}
			}
		}
	}
}