&#search {
	a {
	  text-decoration: none;
	  color: $black;
	  display: block;

	  &:hover,
	  &:active{
	  	color: darken($blue, 5%);
	  	@include transition(color .40s);
	  }
	}
	article {
		background: $white;
		width: 100%;
		padding: 50px 0;
		display: block;
		z-index: 999;
		@include box-sizing(border-box);
		float: left;
		margin-top: 20px;
	}
	h2{
		float: left;
	}
	.active-search {
	  display: block !important;
	}
	.search-keyword {
	  float: left;
	  margin-top: 21px;
	  font-weight: bold;
	  font-size: 20px;
	  color: $black;
	  text-transform: uppercase;
	  margin-left: 10px;
	}

	.search-result {
	width: 100%;
	float: left;
	padding: 20px 0px 30px 0px;
	border-bottom: 1px solid #D8D6D6;

		h3 {
		margin: 0px;
		}
		p {
			font-size: $font-size;
			color: $black;
			font-family: $font-family;
			margin:0;
			overflow: hidden;
			display: block; /* Fallback for non-webkit */
			display: -webkit-box;
			max-width: 100%;
			height: $font-size $line-height $lines-to-show; /* Fallback for non-webkit */
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}



}